body,html {
    background-color: #1E1E1E;
    height: 100%;
    width: 100%;
}

#logger{
    max-height: calc(100% - 10px);
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}